@import
	url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i)
	;

.preloader {
	width: 100%;
	height: 100%;
	top: 0;
	position: fixed;
	z-index: 99999;
	background: #fff
}

.preloader .cssload-speeding-wheel {
	position: absolute;
	top: calc(50% - 3.5px);
	left: calc(50% - 3.5px)
}

body {
	background: #fff
}

.logo i {
	color: #fff
}

.navbar-header, .right-sidebar .rpanel-title {
	background: #4a23ad;
	background: -moz-linear-gradient(left, #4a23ad 1%, #693fd5 100%);
	background: -webkit-linear-gradient(left, #4a23ad 1%, #693fd5 100%);
	background: linear-gradient(to right, #4a23ad 1%, #693fd5 100%)
}

.bg-title .breadcrumb .active {
	color: #4a23ad
}

.sidebar-nav, sidebar {
	background: #fff
}

#side-menu li a {
	color: #8d9498
}

.sidebar-nav ul#side-menu li a.active {
	color: #2b2b2b
}

.sidebar-nav ul#side-menu li a.active i {
	color: #4a23ad
}

.sidebar-nav #side-menu>li:hover>a {
	color: #2b2b2b
}

#side-menu ul>li>a:hover, .sidebar-nav #side-menu>li:hover>a i {
	color: #4a23ad
}

#side-menu ul>li>a.active {
	color: #2b2b2b;
	font-weight: 500
}

.fix-sidebar .top-left-part {
	background: #4a23ad
}

.bg-theme {
	background-color: #4a23ad !important
}

.chat-list .odd .chat-text {
	background: #4a23ad
}

.btn-custom {
	background: #4a23ad;
	border: 1px solid #4a23ad;
	color: #fff
}

.btn-custom:hover {
	background: #4a23ad;
	opacity: .8;
	color: #fff;
	border: 1px solid #4a23ad
}

.customtab li.active a, .customtab li.active a:focus, .customtab li.active a:hover
	{
	border-bottom: 2px solid #4a23ad;
	color: #4a23ad
}

.tabs-vertical li.active a, .tabs-vertical li.active a:focus,
	.tabs-vertical li.active a:hover {
	background: #4a23ad;
	border-right: 2px solid #4a23ad
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
	{
	background: #4a23ad;
	color: #fff
}