.header-admin img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
}

.header-admin {
	padding: 7px 12px;
}

.navbar-header {
	background: linear-gradient(to right, #ef4732 1%, #f4b82e 100%)
		!important;
}

#side-menu ul>li>a:hover, .sidebar-nav #side-menu>li:hover>a i {
	color: #ef4732 !important;
}

.sidebar-nav #side-menu>li:hover>a {
	color: #ef4732 !important;
}

.sidebar-nav ul#side-menu li a.active span {
	color: #ef4732 !important;
}

.footer a {
	color: #ef4f32;
}

.footer a:hover {
	color: #ef4f32;
}

.bread-crumb {
	font-size: 15px;
	padding-left: 20px;
	margin-bottom: 40px;
}

.bread-crumb li::after {
	content: '\f105';
	font-family: 'FontAwesome';
	position: absolute;
	right: -21px;
	width: 10px;
	line-height: 25px;
	font-size: 16px;
	color: #777777;
}

.bread-crumb li {
	position: relative;
	display: inline-block;
	font-size: 16px;
	margin-right: 24px;
	color: #000;
	font-weight: 600;
}

.bread-crumb li:last-child::after {
	display: none;
}

.bread-crumb li:last-child {
	color: #EF4E32;
}

.bread-crumb li a {
	color: #000;
}
/* New Request */
.new-request .dataTables_length {
	display: none;
}

.new-request .dataTables_filter {
	display: none;
}

.new-request table.dataTable thead .sorting_asc::after {
	display: none;
}

.new-request table.dataTable thead .sorting::after {
	display: none;
}

.new-request .dataTables_info {
	display: none;
}

.new-request table.dataTable thead .sorting_desc::after {
	display: none;
}

.new-request .table>thead>tr>th {
	background-color: #8f8f90 !important;
	color: #fff !important;
	font-size: 16px;
	border: 1px solid #eee !important;
	text-align: center;
}

.new-request .table>tbody>tr>td {
	border: 1px solid #eee !important;
	text-align: center;
	color: #000;
}

.new-request .table>tbody>tr>td a {
	color: #EF4E32;
}

.new-request .dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.new-request .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
	{
	border: 1px solid #ef4b32;
	background-color: #ef4b32;
}

.new-request .dataTables_wrapper .dataTables_paginate .paginate_button:hover
	{
	border: 1px solid #f3ac2e;
	background-color: #f4b02e;
}

.car-details {
	display: table;
	width: 100%;
	color: #000;
}

.car-details div {
	display: table-cell;
	vertical-align: middle;
}

.car-details div:nth-child(1) {
	width: 40%;
}

.car-details div:nth-child(2) {
	width: 60%;
}

.car-details p {
	position: relative;
	width: 100%;
}

.car-details p span {
	position: absolute;
	right: 35px;
}

.car-details input {
	background-color: #f9f7f7;
	box-shadow: none;
	border: 1px solid #eee;
	padding: 5px;
	width: 100%;
}

.car-details input:focus {
	border: 1px solid #ef4b32;
}

.car-details select:focus {
	border: 1px solid #ef4b32;
}

.car-details select {
	background-color: #f9f7f7;
	box-shadow: none;
	border: 1px solid #eee;
	padding: 5px;
	width: 100%;
}

.white-box {
	width: 100%;
	float: left;
}

.review h2 {
	color: #ef4b32;
	font-weight: bold;
}

.user img {
	width: 35px;
	height: 35px;
	border-radius: 100%;
}

.user {
	display: table;
	width: 38%;
	float: right;
}

.user div {
	display: table-cell;
	vertical-align: middle;
}

.user div:nth-child(1) {
	width: 10%;
}

.user div:nth-child(2) {
	width: 15%;
}

.user div:nth-child(3) {
	width: 15%;
}

.user p {
	margin: 0px;
	font-weight: bold;
	color: #000;
}

.car-image img {
	width: 200px;
}

.car-view p {
	text-align: center;
	color: #000;
}

.car-view {
	margin-top: 30px;
	width: 100%;
	float: left;
}

.review-btn {
	text-align: center;
	margin: 50px 0px 20px 0px;
}

.review-btn p {
	display: inline;
	margin-right: 30px;
}

.review-btn .btn {
	font-size: 16px;
	padding: 5px 20px;
}

.approve .modal-title {
	color: #f05a31;
	font-weight: bold;
}

.btn-primary, .btn-primary.disabled {
	background: #f05831;
	border: 2px solid #f05831;
	border-radius: 0px;
}

.btn-primary:hover {
	background: #f05831;
	border: 2px solid #f05831;
}

.btn-primary:active {
	background: #f05831;
	border: 2px solid #f05831;
}

.btn-primary:focus {
	background: #f05831;
	border: 2px solid #f05831;
}

.approve .modal-dialog {
	margin-top: 15%;
}

.btn-info {
	background: #f05931;
	border: 2px solid #f05831;
}

.btn-info:active {
	background: #f05931 !important;
	border: 2px solid #f05831 !important;
}

.btn-info:hover {
	background: #f3ac2e !important;
	border: 2px solid #f3ac2e !important;
}

.btn-info:focus {
	background: #f05931 !important;
	border: 2px solid #f05831 !important;
}

.datepicker {
	margin-top: 80px !important;
	z-index: 9 !important;
}

.datepicker table tr td.active {
	background: #f05831;
	color: #fff;
	text-align: center;
}

.datepicker table tr td.active.active {
	background-color: #f05831;
}

.datepicker table tr td.active:hover {
	background: #f3ac2e;
}

.datepicker table tr td:hover {
	cursor: pointer;
}

.bg-info {
	background-color: #f05831 !important;
}

.onoffswitch {
	position: relative;
	width: 100px;
	display: inline-block;
	margin-top: 5px;
}

.onoffswitch .onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #e6e6e6;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin: 0;
}

.onoffswitch .onoffswitch-inner {
	width: 200%;
	margin-left: -100%;
	-webkit-transition: margin 0.15s ease-in-out;
	-o-transition: margin 0.15s ease-in-out;
	-moz-transition: margin 0.15s ease-in-out;
	transition: margin 0.15s ease-in-out;
}

.onoffswitch .onoffswitch-inner:before, .onoffswitch .onoffswitch-inner:after
	{
	float: left;
	width: 50%;
	height: 33px;
	padding: 0;
	line-height: 34px;
	color: #ffffff;
	font-weight: normal;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.onoffswitch .onoffswitch-inner:before {
	content: "ACTIVE";
	padding-left: 15px;
	background-color: #ef5232;
	color: #ffffff;
}

.onoffswitch .onoffswitch-inner:after {
	content: "OFF";
	padding-right: 10px;
	background-color: #fafafa;
	color: #3d3d3d;
	text-align: right;
}

.onoffswitch .onoffswitch-switch {
	width: 25px;
	height: 25px;
	margin: 0;
	background: #ffffff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 4px;
	bottom: 0;
	right: 75px;
	-webkit-transition: right 0.15s ease-in-out;
	-o-transition: right 0.15s ease-in-out;
	-moz-transition: right 0.15s ease-in-out;
	transition: right 0.15s ease-in-out;
}
/* .toggle-group {
    position: relative;
    height: 27px;
    top: 50%;
    left: 20px;
    margin-top: -13.5px;
  } */
.toggle-group input[type=checkbox] {
	position: absolute;
	left: 10px;
	display: none;
}

.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner
	{
	margin-left: 0;
}

.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch
	{
	right: 1px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.toggle-group input[type=checkbox]:focus ~ .onoffswitch {
	outline: thin dotted #333;
	outline: 0;
}

.toggle-group label {
	position: absolute;
	cursor: pointer;
	padding-left: 0px;
	display: inline-block;
	text-align: left;
	line-height: 24px;
	width: 100%;
	z-index: 1;
	height: 24px;
	font-weight: 200;
}
/* ==== Accessibility ===== */
.aural {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.aural:focus {
	clip: rect(0, 0, 0, 0);
	font-size: 1em;
	height: auto;
	outline: thin dotted;
	position: static !important;
	width: auto;
	overflow: visible;
}

.car-user-active {
	margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
	.user {
		width: 100%;
	}
	.user div:nth-child(1) {
		width: 4%;
	}
	.datepicker {
		margin-top: 0px !important;
	}
}

@media only screen and (max-width: 500px) {
	.white-box {
		padding: 0px
	}
	.car-details p span {
		right: 15px;
	}
	.user {
		width: 100%;
	}
	.user div:nth-child(1) {
		width: 4%;
	}
	.datepicker {
		margin-top: 0px !important;
	}
}